body {
  background-color: #535252
}

.container-fluid {
 color: #e7cbcb;
  font-family: Tahoma, Helvetica;
  text-align: center;
  }

h1 {
  font-size: 60px;
  font-weight: 700;
  border: 7px solid;
  padding: 10px;
  margin-left: 26%;
  margin-right: 26%;
  }

.author {
  color: #e7cbcb;
  font-family: Tahoma;
  text-align: center; 
}

#city {
  font-size: 35px;
}
#weather, #temperature {
  font-size: 20px;
  
}


